.header {
  background-color: rgb(114, 170, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  .header-text {
    font-size: 2rem;
    font-weight: 500;
  }
  .header-subtext {
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
  }
  padding: 10px 10vw 10px 10vw;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  gap: 30px;
}

.nav-item {
  color: black;
  padding: 15px;
  border-radius: 20px;
}

.nav-item:hover {
  background-color: rgb(87, 129, 97);
}
